<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MbLuxSambir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MbLuxSambir.Properties.Settings>
            <setting name="PricePluta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceDvp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceNogaKuhona" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceShurup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceKonfirmat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PricePolkotrymach" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceStyazka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceFasad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceRuchka1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceRuchka2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceZavis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceZavisDot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceNaprav" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceStolesh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PricePcv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceKlejPcv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceCargo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceKarniz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceLift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceSushka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceVuha" serializeAs="String">
                <value>0</value>
            </setting>
        </MbLuxSambir.Properties.Settings>
    </userSettings>
</configuration>